<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Mitchell Fordyce</title>
    <link rel='icon' href='/static/img/cartoonprof.png' type='image/png'>
    <link rel='stylesheet' href='/static/css/index.css'>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="title-bar">
            <div class="buttons">
                <div class="button"></div>
                <div class="button yellow"></div>
                <div class="button green"></div>
            </div>
            <span>Jack Mitchell Fordyce</span>
        </div>
        <div class="window-content">
            <h1>Find What I'm Working On!</h1>
            <a href="https://becomingreliable.substack.com/" target="_blank">Substack</a>
            <a href="https://github.com/jackmford" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/jackmitchellfordyce" target="_blank">LinkedIn</a>
            <a href="/static/img/resume.pdf" target="_blank">Resume</a>
            <a href="/blog">Blog</a>
            <div class="contact">
                <h2>Get in Touch</h2>
                <p>Feel free to reach out to me via email</p>
                <a href="mailto:jackmitchellfordyce@gmail.com">jackmitchellfordyce@gmail.com</a>
            </div>
            <div class="footer">&copy; 2025 | Built with nostalgia</div>
        </div>
    </div>
</body>
</html>
