<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='/static/img/cartoonprof.png' type='image/x-icon'>
    <link rel='stylesheet' href='/static/css/output.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Jack Fordyce</title>
  </head>

  <body class="font-mono">
    <nav class="bg-white shadow px-6 py-6">
      <div class="w-3/4 mx-auto flex items-center justify-between inline-block">
        <div>
        <a href="/" class="px-5 py-2 rounded-none-lg bg-orange-50 hover:bg-orange-100 border-2 border-black">JMF</a>
        </div>
        <div>
        <a href="/static/img/resume.pdf" target="_blank" class="px-5 py-2 rounded-none-lg bg-orange-50 hover:bg-orange-100 border-2 border-black">Resume</a>
        <a href="https://fordycephotos.com" target="_blank" class="px-5 py-2 rounded-none-lg bg-orange-50 hover:bg-orange-100 border-2 border-black">Photos</a>
        </div>
      </div>
    </nav>
    <div class="flex justify-center mt-24">
      <img class="w-40 h-40" src="/static/img/cartoonprof.png" alt="A cartoon representation of my face">
    </div>
    <div class="flex justify-center">
      <div class="text-center">
        <p class="text-2xl">Jack Fordyce</p>
        <p>Software Engineer</p>
      </div>
    </div>
    <div class="flex justify-center gap-x-2 mt-3">
      <a href="mailto:jackmitchellfordyce@gmail.com" target="_blank" id="mail-link"><img class="w-12 h-10" src="../static/img/emailpic.png" alt="Send me an email"></a>
      <a href="https://github.com/jackmford" target="_blank" id="git-link"><img class="w-12 h-10" src="../static/img/octos.png" alt="Visit my Github page"></a>
      <a href="https://www.linkedin.com/in/jackmitchellfordyce/" target="_blank" id="linked-link"><img class="w-12 h-10" src="../static/img/linkedin.png" alt="Visit my Linkedin page"></a>
    </div>
    <div class="flex flex-col space-y-8 mt-10">
      <div class="flex justify-center">
        <div class="w-3/4 space-y-2 shadow p-4">
            <span><a class="link" href=https://github.com/jackmford/fordycephotos target="_blank">Fordyce Photos</a> <i class="fas fa-camera-retro"></i></span>
            <p>Several years ago I deleted all of my social media applications and ceased posting content on platforms like Instagram and Twitter. I still had an urge to share some of the photos I take occasionally, so I stood this site up using Flask, Caddy, uWSGI, Amazon S3, and Digital Ocean.</p>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-3/4 space-y-2 shadow p-4">
            <span><a class="link" href=https://github.com/jackmford/capstone target="_blank">Canvas Assistant</a> <i class="fas fa-pencil"></i></span>
            <p>Canvas Assistant was built to combine the functionality of the Google Assistant with the Canvas application used by many college campuses throughout the country. It was created using a combination of Dialogflow (NodeJS) for natural language processing, Python Flask for web application based user-enrollment, and Google's Realtime DB for data storage. The project allowed students to be able to verbally communicate with their Canvas account, being able to ask what assignments they had due, what was on their schedule, or if they had any pending notifications.</p>
          </div>
        </div>

      <div class="flex justify-center">
        <div class="w-3/4 space-y-2 shadow p-4">
            <span><a class="link" href=https://github.com/nathan-backman/cmsc491-SPE target="_blank">CMSC491 - SPE</a> <i class="fas fa-folder-tree"></i></span>
            <p>This stream processing engine was built by a team of seven computer science students at Buena Vista University as well as Dr. Nathan Backman. The application is able to process streams of data through various components, tests wrote by the team included things such as vowel_counter, average_aggregation, and Farenheit_to_Celsius. The engine's main function was to process chunks of Minecraft data and return the xyz position of the closest specified block to the player in any given world, using realtime live data streams from the Minecraft game itself.</p>
          </div>
        </div>

      <div class="flex justify-center">
        <div class="w-3/4 space-y-2 shadow p-4">
            <span><a class="link" href=https://github.com/jackmford/Computer-Reservation-System target="_blank">Computer-Reservation</a> <i class="fas fa-desktop"></i></span>
            <p>Flask/React application to allow students at Buena Vista University to reserve computers in the High Performance Computing Laboratory. Includes full user authentication and an interactive user interface that displays if computers are reserved. If a computer is free, allows a user to reserve it for a specified amount of time.</p>
          </div>
        </div>

      <div class="flex justify-center pb-10">
        <div class="w-3/4 space-y-2 shadow p-4">
            <span><a class="link" href=https://github.com/jackmford/finger-game target="_blank">Finger Game</a> <i class="fas fa-hand-point-up"></i></span>
            <p>Web application that utilizes self-trained object detection to identify the number of fingers a user is holding up to the webcam. Included usage of Flask, Javascript, Bulma CSS, and several Python libraries to train the finger-tip detector. Hack ISU 2018 project written with Zachary Macke, John Jago, and Sandeep Yeturu.</p>
        </div>
      </div>
    </div>
  </body>
</html>